// FONTS
@body: 'PT Sans', sans-serif;
@font: 'Gochi Hand', cursive;
@normal:400;
@bold:700;

// COLOURS
@blue:#293080;
@blue--light:#cadfe5;
@red:#fe1d16;
@yellow:#ff9700;
@brown:#72270a;
@black:#180f13;
@grey:#5b625e;
@white:#fff;

@border:@grey;
@link--color:@blue;
@link--hover:@red;