.player-picker {
  &__list {
    height: 10rem;
    overflow: auto;
    list-style-type: none;
    padding: 0.5rem 0;
    margin: 0;
    display: block;
    border: 1px solid @border;
    border-top: 0;
    &-item {
      display: block;
      clear: both;
      position: relative;
      float: left;
      width: 100%;
      input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        &:checked {
           ~ label {background: @yellow;}
           &:hover,
           &:focus {
             ~ label {
               background: @yellow;
               text-decoration: underline;
             }
           }
        }
        &:hover,
        &:focus {
          ~ label {background: @blue--light;}
        }
      }
      label {
        width: 100%;
        float: left;
        cursor: pointer;
        padding: 0.5rem 1rem;
        background: transparent;
        transition: background 0.2s ease-in-out;
      }
    }
  }
}